/* CSS Reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
figure,
hr,
fieldset,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* General Styling */
body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

main {
  padding: 20px;
  font-size: 18px;
}

header {
  position: sticky;
  top: 0;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav {
  background-color: #444;
  text-align: center;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* Responsive Styles */
.mobile-content {
  display: none;
}

@media (max-width: 767px) {
  .mobile-content {
    display: block;
  }

  header {
    position: static;
  }

  nav {
    display: none;
  }

  .tablet-desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .tablet-desktop {
    display: block;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
  }

  nav ul li {
    margin-right: 0;
    border-right: 1px solid #fff;
    padding-right: 20px;
  }

  nav ul li:last-child {
    border-right: none;
    padding-right: 0;
  }
}

/* Header styles */
header {
  background-color: #fff;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  margin-right: 28rem;
}

.logo-image {
  width: 80px;
  height: 80px;
}

nav {
  flex: 1;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin-left: 2rem;
}

nav a {
  color: #000;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #cb376a;
  color: #fff;
}

/* Footer styles */
footer {
  background-color: #2d4059;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

footer p {
  margin: 0.5rem 0;
}

.tel-link a,
.email-link a {
  color: #fff;
  text-decoration: none;
}

.tel-link a::before {
  content: "\260E\0020";
}

.email-link a::before {
  content: "\2709\0020";
}
